/* CSS declarations go here */
.green { 
	background-color: #bfbfbf; 
}



.mainbuttonr:hover { 
	background-color: #bfbfbf;
}

.mainbuttonl:hover { 
	background-color: #bfbfbf;
}


.top-logo {
	height: 100%;
}

.stuff {
	margin-top: 6em;
	display:inline-block;
}
