
.twinkle{
	-webkit-animation: sparkle 15s;
	animation: sparkle 15s;
}

@-webkit-keyframes sparkle{
	from { background-color: darkgray;}
	to {background-color: white;}
}

@keyframes sparkle{
	from { background-color: darkgray;}
	to {background-color: white;}
}

.to-black{
	-webkit-animation: black-anim 5s;
	animation: black-anim 5s;
}

@-webkit-keyframes black-anim{
	from { background-color: white;}
	to {background-color: black;}
}

@keyframes black-anim{
	from { background-color: white;}
	to {background-color: black;}
}


#logo-img{
	position: relative;
	z-index: 100;
	
}

.fixed{
	z-index: 1000;
}

#logo-row{
	height: 60%
}

#button-row{
	height: 20%;
	border-bottom: 2px solid gray;
}

#subheading-row{
	height: 20%;
	color: #303030;
	font-size: 5em;
	width: 100%;
}

.cat-circle{
	margin-top: 10px;
}

.hiku{
	font-size: .5em;
	font-weight: 900;
}

.logo { 
	z-index: 100;
	width: 50%;
	max-width: 800px;
	min-width: 500px;
	margin-left: 20px;
}

.black-border{
	border: 2px solid black;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}

.gray-border{
	border: 2px solid #e5e5e5;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}

.mainbutton { 
	background-color: #575757;
	color: #ffffff;
	text-align: center;
	z-index: 10;
	font-weight: 600;
}

.mainbutton:hover{
	color:black;
	background-color: white;
	font-weight: 600;
}

#plus{
	position: relative;
	z-index: 75;
	color:#37FDFC;
	margin-top: 4px;
}

#d-button{
	margin-right: 55px;
}

#app-button{
	margin-left: 55px;
}

#our-photo{
	width:375px;
	max-width: 500px;
	min-width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid gray;
	margin-top: 20px;
}

#about-row{
	height: 100%;

	color: #303030;

}

.gray-words, .title-text{
	color:#303030;
}

#bio-text{
	margin: 10px auto;
	width: 40em;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #f8f8f8;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border: 1px solid #d8d8d8;
	padding: 5px;
}

#bio-circle{
	width: 100px;
	height: 100px;
	background-color: black;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
}

#bio-circle h1{
	color: white;
	margin-top: 25px;
}

.title-text{
	font-size: 4.5em;
	font-weight: 800;
	text-align: center;
}

h1, h2, h3, h4, h5, a, p{
	font-family: 'Source Sans Pro', sans-serif;
}