

#logo-img{
	position: relative;
	z-index: 100;
	
}

.fixed{
	z-index: 1000;
}

#logo-row{
	height: 60%;
}

#button-row{
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 1em;
}

.hiku{
	margin-top: 1em;
	font-family: 'Lato', sans-serif; 
	font-weight: 400;
	font-size: 2em;
}

.logo { 
	z-index: 100;
	width: 50%;
	padding-bottom: 2em;
	max-width: 800px;
	min-width: 400px;
	margin-left: 20px;

}

.logo-fengshui {
	padding-top: 10%;
}


.black-border{
	border: 2px solid black;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}

.gray-border{
	border: 2px solid #e5e5e5;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}

.mainbutton { 
	background-color: #000000;
	color: #ffffff;
	font-family: 'Lato', sans-serif; 
	font-weight: 400;
	font-size: 1.3em;
	text-align: center;
	width: 70%;
	z-index: 100;
}

.mainbutton:hover{
	font-family: 'Lato', sans-serif; 
	font-weight: 400;
	background-color: #ffffff;
	color: #000000;
	z-index: 100;
}

#plus{
	color: white;
	font-size: 2.5em;
	margin-top: 4px;
}

#d-button{
	margin-left: 65px;
	text-align: center;
}

#d-button, #app-button{
	width: 225px;
	text-align: center;
}

#app-button{
	margin-right: 65px;
}

#our-photo{
	width:375px;
	max-width: 500px;
	min-width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid gray;
	margin-top: 20px;
}

#about-row{
	color: #303030;
}

#portfolio-row{
	margin: 0 auto !important;
	padding-top: 4em;
}

.port-img-div{
	padding: 0;
	background-color: #575757;
}
.portfoliotitle{
	margin-top: 1em;
	font-family: 'Lato', sans-serif; 
	font-weight: 400;
	font-size: 3em;
	color: white;
}

.site-row{
	height: 20%;
	margin: 0 auto;
}

#portfolio-row{
	margin: 0 auto;
}

.site-row h5{
	font-size: 2em;
}

.top-row{
	margin: 0 auto;
}

.portheight{
	max-height: 15em;
}

.port-img{
	background-color: #575757;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 100%; max-height: 100%;
	opacity: .5;
    filter:alpha(opacity=40);
}

.port-img:hover{
	opacity: 1.0;
	filter:alpha(opacity=100);
}

.porttitle {
	color: white;
	font-family: 'Lato', sans-serif; 
	font-weight: 400;
	font-size: 3em;
}

.small-circle{
	width: 10px;
	height: 10px;
	background-color: black;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display: inline-block;
	margin-bottom: .5em;
}

.gray-words, .title-text{
	color:#303030;
}

#bio-text{
	margin: 10px auto;
	width: 40em;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #f8f8f8;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border: 1px solid #d8d8d8;
	padding: 5px;
}

#bio-circle{
	width: 100px;
	height: 100px;
	background-color: black;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
}

#bio-circle h1{
	color: white;
	margin-top: 25px;
}

.title-text{
	font-size: 4.5em;
	font-weight: 800;
	text-align: center;
}

.sam-plus:hover{
	color: #575757 !important;
}

.portfoliotitle {
	width: 30%;
	padding-bottom: 2em;
}

h1, h2, h3, h4, h5, a, p{
	font-family: 'Source Sans Pro', sans-serif;
}